html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #efefef;
    font-size: var(--main-font-size);
    height: 100vh;
    color: var(--main-text-color);
    /* cursor: none; */
    /* position: relative; */
}
button {
    font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4 {
    font-family: 'Oswald';
    font-weight: 200;
}
h1 {
    margin-bottom: 20px;
    font-size: 2em;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 200;
}

h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    position: relative;
    display: inline-block;
    /* margin-left: 0.8em; */
    padding-inline: 0.8em;
    line-height: 1.2em;
}

h3::after,
h3::before {
    opacity: 0.5;
    top: -0.1em;
    position: absolute;
}
h3::before {
    content: '{';
    left: -0;
}
h3::after {
    content: '}';
    right: 0;
}
p {
    line-height: 1.3em;
}
h1 > span,
.title-h2 > span {
    font-size: 1.7em;
}

ul > li {
    position: relative;
    padding-left: 15px;
    padding-right: 10px;
}
ul > li::before {
    position: absolute;
    content: '>';
    left: 0;
}
ul {
    margin-bottom: 1em;
}
strong {
    font-weight: bold;
}

a {
    color: #ae042b;
    text-decoration: none;
}

hr {
    border: 1px dashed #fff;
}
/*******************/
/* BLOCS           */
/*******************/
.experiences,
.skills,
.text-infos {
    margin-bottom: 30px;
}
.experiences,
.skills,
.training,
.barcode,
.extra {
    line-height: 130%;
}
.container,
.main,
.left,
.right,
.apps,
.extra .content,
.nav-main.active,
.pell-mell,
.row {
    display: flex;
}
.container {
    flex-direction: row;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}

.apps {
    margin-top: 50px;
}
.left,
.right {
    flex-direction: column;
}
.row,
.content {
    justify-content: space-between;
    position: relative;
}
.row-section {
    width: 100%;
}

.row {
    margin: 20px 40px 50px 40px;
    animation: transitionIn 1s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.footer {
    background-color: #333;
    padding: 1em;
    justify-content: flex-end;
    padding-right: 60px;
}
.footer a {
    margin-left: 10px;
}
.skills,
.experiences,
.training,
.extra,
.infos,
.barcode,
.pell-mell {
    padding: 30px;
    position: relative;
}
.left,
.extra {
    width: 60%;
    flex-shrink: 0;
}
/*******************/
/* SIDEBAR         */
/*******************/
.logo,
.socials,
.toggle-nav {
    z-index: 10;
}
.logo,
.socials {
    width: 6.5em;
}
.logo {
    position: relative;
    display: block;
    font-size: 1.4em;
    color: #fff;
    font-weight: 200;
    font-family: 'Oswald';
    text-align: center;
    margin-top: 20px;
    height: 100px;
    font-size: 28px;
    width: 4.5em;
}
.reverse {
    opacity: 0;
    transform: rotateY(-360deg);
    display: inline-block;
    transition: all 0.7s ease-in-out 0s;
}

.no-reverse {
    transform: rotateY(0);
    opacity: 1;
}

.logo .name {
    display: block;
    font-size: 1.5em;
    font-weight: 400;
}
.logo::after,
.logo::before {
    color: #fff;
    opacity: 0.5;
    top: -5px;
    font-size: 2.9em;
    font-weight: 200;
    position: absolute;
    transition: left 0.5s ease 0s, right 0.5s ease 0s;
}
.logo::before {
    content: '{';
    left: -0.1em;
}
.logo::after {
    content: '}';
    right: -0.1em;
}

.logo:hover::after {
    right: -0.2em;
}
.logo:hover::before {
    left: -0.2em;
}
.pseudo {
    display: inline-block;
    border-top: 1px dashed #fff;
    font-size: 0.8em;
    padding-top: 0.3em;
    margin-top: 0.5em;
}
.header {
    width: var(--nav-width);
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: var(--bgmain-color);
}
/*******************/
/* MAIN NAV        */
/*******************/
.toggle-nav {
    display: none;
    color: #fff;
    font-size: 2em;
    z-index: 11;
    transition: transform 0.3s;
}
.toggle-on {
    transform: rotateZ(45deg);
}
.nav-main {
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.nav-main .active,
.nav-main a.active:hover {
    background-color: #fff;
    color: var(--first-color);
}
.nav-main .inactive {
    text-decoration: line-through;
}
.nav-main a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s ease 0s;
}
.nav-main::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    bottom: 2px;
    height: 2px;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}
.nav-main a:hover {
    background-color: #9b0226;
}
.socials {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}
.socials a {
    color: #fff;
    display: inline-block;
    margin: 0 5px;
    transition: scale 0.3s;
}
.socials a:hover {
    scale: 1.2;
}
/**/
.content-wrapper {
    margin-left: var(--main-marginleft);
}
.title-h2 {
    font-size: 2em;
}
.home {
    align-items: center;
    height: 100vh;
}
.presentation {
    display: flex;
}

.presentation p {
    margin-bottom: 1.5em;
}

.text-infos {
    width: 40%;
    margin-right: 30px;
}

/*******************/
/* PROJECTS        */
/*******************/
.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.project {
    width: calc(33% - 10px);
    height: 250px;
    background-color: lightgray;
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    /* margin-bottom: 1em; */
    position: relative;
    opacity: 0.5;
    cursor: not-allowed;
    overflow: hidden;
}
.project.activated {
    cursor: pointer;
    opacity: 1;
}
.project .thumb {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}
.project:hover img {
    transform: scale(1.1);
    transition: all 0.5s;
}
.project-description {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}
.meteoapp-project {
    background-image: url('/img/projects/meteoapp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.dicegame-project {
    background-image: url('/img/projects/diceapp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.title-h2 > span {
    display: block;
    text-transform: uppercase;
    font-weight: 400;
}
.view-more {
    text-align: right;
    /* font-weight: bold; */
    margin-top: 20px;
}
.view-more a {
    text-decoration: none;
    color: #333;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 6px 10px;
    transition: background-color 0.5s ease 0s;
    font-size: 0.85em;
}
.skills .view-more a {
    color: #fff;
}
.view-more a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--bgmain-color);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: #fff;
}

.up::before {
    position: absolute;
    content: '';
    background-color: transparent;
    display: block;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    left: 13px;
    top: 9px;
    transform: rotate(-90deg);
}

.arrow-down::before {
    position: absolute;
    content: '';
    background-color: transparent;
    display: block;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #fff;
    left: 50%;
    top: -4px;
    transform: rotate(90deg);
}
.arrow-left::before {
    position: absolute;
    content: '';
    background-color: transparent;
    display: block;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #efefef;
    right: 0;
    bottom: -4px;
    transform: rotate(180deg);
    z-index: 2;
}
.right,
.pell-mell {
    width: 40%;
    margin-left: 36px;
}

/**/
.description {
    padding: 10px;
}
.promote {
    background-color: #e4e4e4;
    position: relative;
}

.experiences {
    background-color: #efefef;
    border-top: 1px solid #5d5d60;
}
.experiences::before,
.skills::before,
.training::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 2px;
    height: 2px;
}

.experiences h2 {
    border-bottom: 1px dotted #333;
    padding-bottom: 10px;
}
.experiences::before {
    border-bottom: 1px solid #5d5d60;
    border-top: 1px solid #5d5d60;
}
.experiences .description p:last-child {
    border-bottom: 1px dotted #333;
    padding-bottom: 20px;
}
.experiences .description {
    padding-left: 0;
    padding-right: 0;
}
.skills {
    background-color: var(--bgmain-color);
    color: #fff;
    border-top: 1px solid #fff;
}
.skills::before {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.training {
    background-color: #efefef;
    border-top: 1px solid #b8b8b8;
    flex-grow: 1;
}
.training .title-section {
    color: #707070;
}
.training::before {
    border-bottom: 1px solid #b8b8b8;
    border-top: 1px solid #b8b8b8;
}

.barcode {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0;
    min-height: 50px;
}
.barcode div {
    transition: height 2s ease 1s;
}
.barcode .toto {
    height: 100%;
}
.extra h3 {
    margin-bottom: 10px;
}
.extra .content {
    gap: 15px;
}
.extra .content div {
    flex: 1;
}
.extra,
.infos {
    background-color: #302f35;
    color: #fff;
}
.pell-mell {
    background-color: rgb(239, 239, 239);
    justify-content: center;
    align-items: center;
}
.pell-mell img {
    width: 100%;
}
.date {
    font-weight: bold;
}
.date,
h1 > span,
.title-h2 > span {
    color: var(--first-color);
}

.place {
    font-weight: bold;
}

/*******************/
/* Banner Hero */
/*******************/
.banner-hero {
    flex: 3;
}
.hero {
    display: flex;
    flex-direction: row;
    height: 40vh;
    margin-bottom: 20px;
    width: 100%;
}
.hero-name {
    position: absolute;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    bottom: 0.7em;
    right: 10px;
    font-size: 1.7em;
    color: white;
    transform: rotate(-180deg);
    white-space: nowrap;
}
.name-overlay {
    display: block;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.3) 30%,
        rgba(0, 0, 0, 0) 100%
    );
}

.hero-img {
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: flex-grow 1s, background-size 1s;
    position: relative;
    flex-grow: 1;
}
.hero .hero-img:hover {
    flex-grow: 2;
    flex-shrink: 2;
    background-size: cover;
}
.hero img {
    width: 100%;
    height: 100%;
}

.hero1 {
    background: url(../img/bionic.jpg) no-repeat center center;
    background-size: cover;
}
.hero2 {
    background: url(../img/hippie.jpg) no-repeat center center;
    background-size: cover;
}
.hero3 {
    background: url(../img/vanilla.jpg) no-repeat center center;
    background-size: cover;
}
.hero4 {
    background: url(../img/boxeuse.jpg) no-repeat center center;
    background-size: cover;
}
.hero5 {
    background: url(../img/symfony.jpg) no-repeat center center;
    background-size: cover;
}
.inprogress {
    opacity: 0.5;
}

.modal-wrapper {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}
.modal-content {
    overflow: auto;
    width: 760px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    opacity: 0;

    transition: transform 0.8s, opacity 0.8s;
}
.modal-title {
    font-size: 2.2em;
    color: var(--first-color);
    text-transform: uppercase;
    position: relative;
    padding-bottom: 25px;
}
p {
    /* color: var(--main-text-color); */
}
.modal-title::before {
    content: '';
    border-bottom: 1px solid #b8b8b8;
    border-top: 1px solid #b8b8b8;
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    bottom: 0;
}
.modal-on {
    opacity: 1;
}
.modal-out {
    transform: translateX(400%);
}
.modal-content p {
    margin-bottom: 1em;
}
.js-close-wrapper {
    margin-bottom: 10px;
    text-align: right;
}
.js-close-modal {
    background-color: var(--first-color);
    border: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
.skills {
    outline: 10px solid rgba(0, 0, 0, 0);
    transition: outline 0.3s;
}
.anchor-fx {
    outline: 10px solid rgba(0, 0, 0, 1);
}

.scroll {
    -webkit-animation-name: bounce-1;
    animation-name: bounce-1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    margin-bottom: 20px;
    bottom: 50%;
    margin-bottom: -50px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 0.85em;
    padding: 0.5em 0;
    left: -36px;
    bottom: 50%;
    margin-bottom: -50px;
}
.scroll .fa-solid {
    transform: rotate(90deg);
}
@-webkit-keyframes bounce-1 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes bounce-1 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@media screen and (max-width: 1280px) {
    .presentation {
        flex-direction: column;
    }
    .hero {
        height: 25vh;
    }
    .text-infos {
        width: auto;
    }

    .project {
        width: calc(50% - 10px);
    }
}
@media screen and (max-width: 992px) {
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 1em;
    }

    .row {
        margin: 20px 30px 20px 30px;
    }
    .main,
    .apps,
    .nav-main,
    .container {
        flex-direction: column;
    }
    .left,
    .right,
    .extra,
    .pell-mell {
        width: auto;
    }
    .logo {
        margin: 0;
        height: auto;
        font-size: 18px;
    }
    .container {
        padding-top: var(--nav-height);
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
        align-items: center;
        position: fixed;
        width: 100%;
        height: var(--nav-height);
        top: 0;
        z-index: 10;
    }

    .toggle-nav {
        display: block;
    }
    .nav-main {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: var(--nav-height);
        left: 0;
        background-color: var(--first-color);
        opacity: 0;
        transition: transform 0.5s ease 0s, opacity 0.5s;
        transform: translateY(-100%);
        display: flex;
        justify-content: flex-start;
    }
    .full-nav {
        transform: translateY(0);
        opacity: 1;
        transition: transform 0.5s ease 0s, opacity 0.5s;
        display: flex;
    }

    .nav-main a {
        display: inline;
        border-top: 1px solid #fff;
    }

    .text-infos {
        width: auto;
    }
    .home {
        height: auto;
    }
    .content-wrapper {
        margin-left: 0;
    }
    .text-infos {
        width: auto;
        margin: 0;
    }
    .left {
        margin-bottom: 30px;
    }
    .right,
    .pell-mell {
        margin-left: 0;
    }

    .barcode {
        height: 100px;
    }
    .hero-name {
        font-size: 1.2em;
        font-weight: bold;
    }
    .content li {
        display: inline-block;
    }
    .scroll {
        left: -24px;
    }
}

@media screen and (max-width: 768px) {
    h1 > span,
    .title-h2 > span {
        font-size: 1.1em;
    }

    .banner-hero {
        padding: 0;
    }

    .extra {
        padding: 20px;
    }

    .extra .content {
        flex-direction: column;
    }
    .project {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 576px) {
    .project {
        width: calc(100%);
        margin: 0 0 5px 0;
    }
}
@media (prefers-reduced-motion: reduce) {
    .logo {
        animation: none;
    }
}

.fa-brands:hover {
    opacity: 0.8;
}
.big-icon .fa-brands {
    font-size: 3rem;
}

/*******************/
/* TOOLTIP         */
/*******************/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.6em;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s, transform 0.5s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateY(0em);
}

.btn {
    padding: 0.5em;
    font-size: inherit;
    background-color: var(--bgmain-color);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}
.btn i {
    margin-right: 8px;
}
.btn:hover {
    opacity: 0.9;
}

/******  LOADER  ******/
.loader {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    /* height: 0; */
    position: fixed;
    /* display: flex; */
    left: 0;
    transition: all 2s ease 0s;
    top: 0;
}
.loader-on {
    height: 100vh;
    opacity: 1;
}

/****** DAMIER  ********/
/************/
#damier {
    display: grid;
    /* flex-wrap: wrap; */
    position: fixed;
    grid-template-columns: repeat(3, 1fr);
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: orange; */
    height: 100vh;
    z-index: 100;
    overflow: hidden;
}
.item {
    /* background-color: red; */
    /* opacity: 0.9; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: opacity 0.5s, transform 0.5s;
    /* pointer-events: none; */
}
